body {
    align-items: center;
}

nav {
    display: flex;
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 95px;
    background-color: #000;
    color: #fff;
    padding: 0 20px;
}